/* The default website size. */
.page-wrapper,
#header,
#main-navigation-h,
#welcome-text,
#highlighted,
#top-container,
#page-title,
#main,
#bottom-container,
#footer-container,
#footer-menu,
#copyright {
  width: 100%!important;
  clear: both!important;
}
.header-inner,
.main-navigation-inner-h,
.welcome-text-inner,
.highlighted-inner,
.top-container-inner,
.page-title-inner,
.main-container-inner,
.bottom-container-inner,
.footer-container-inner,
.footer-menu-inner,
.copyright-inner {
  max-width: 1600px;
  margin: 0 auto!important;
}
.top-container-inner .top-region,
.main-container-inner .main-region,
.bottom-container-inner .bottom-region,
.footer-container-inner .footer-region {
  float: left;
}
.top-container-inner .top-region > div,
.main-container .main-region > div,
.bottom-container-inner .bottom-region > div,
.footer-container-inner .footer-region > div {
  height: 100%;
  float: left;
  width: 100%!important;
  padding: 12px!important;
}
.top-container-inner .first-top,
.top-container-inner .second-top,
.top-container-inner .third-top,
.bottom-container-inner .first-bottom,
.bottom-container-inner .second-bottom,
.bottom-container-inner .third-bottom,
.bottom-container-inner .forth-bottom,
.footer-container-inner .first-footer,
.footer-container-inner .second-footer,
.footer-container-inner .third-footer {
  margin-bottom: 10px;
  margin-top: 10px;
}
.main-container-inner .first-sidebar,
.main-container-inner .w3css-content,
.main-container-inner .second-sidebar {
  margin-bottom: 20px;
  margin-top: 20px;
}
.main-region > div {
  height: 100%;
}
.w3-width-100-percent {
  max-width: 100%!important;
}
.w3-width-2560 {
  max-width: 2560px!important;
}
.w3-width-1920 {
  max-width: 1920px!important;
}
.w3-width-1600 {
  max-width: 1600px!important;
}
.w3-width-1360 {
  max-width: 1360px!important;
}
.w3-width-1280 {
  max-width: 1280px!important;
}
.w3-width-1024 {
  max-width: 1024px!important;
}
.w3-width-800 {
  max-width: 800px!important;
}
/* Samll Screen Only */
@media (max-width:600px) {
  .top-container-inner .top-region > div,
  .main-container-inner .main-region > div,
  .bottom-container-inner .bottom-region > div,
  .footer-container-inner .footer-region > div {
    padding: 8px!important;
}
}
/* Medium Screen Only */
@media (max-width:992px) and (min-width:601px) {
  .top-container-inner .top-region > div,
  .main-container-inner .main-region > div,
  .bottom-container-inner .bottom-region > div,
  .footer-container-inner .footer-region > div {
    padding: 10px!important;
}
}
/* Large Screen Only */
@media (min-width:993px) {
  /* for the main menu  */
  .w3-fixed .main-navigation-inner-h .ul-parent {
    line-height: 45px;
}
  .w3-fixed .main-navigation-inner-h .ul-parent ul {
    line-height: 35px;
}
  .ul-parent li .li-expanded:hover ul {
    left: 100%;
    top: 0;
}
  .ul-parent li  ul {
    position: absolute;
}
  .li-expanded:hover > .ul-child,
  .li-expanded > .li-expanded:hover > .ul-child {
    display: block;
}
  .top-container-inner .top-region > div,
  .main-container-inner .main-region > div,
  .bottom-container-inner .bottom-region > div,
  .footer-container-inner .footer-region > div {
    padding: 12px!important;
}
  .li-1 .toggle-child .dropdown-arrow {
    display: none;
}
  .w3-search-block-form > .form-submit {
    line-height: 39px;
    padding: 0;
}
}
/*  Small and Medium Screen Only*/
@media (max-width:992px) {
  .top-container-inner .first-top,
  .top-container-inner .second-top,
  .top-container-inner .third-top,
  .main-container-inner .first-sidebar,
  .main-container-inner .w3css-content,
  .main-container-inner .second-sidebar,
  .bottom-container-inner .first-bottom,
  .bottom-container-inner .second-bottom,
  .bottom-container-inner .third-bottom,
  .bottom-container-inner .forth-bottom,
  .footer-container-inner .first-footer,
  .footer-container-inner .second-footer,
  .footer-container-inner .third-footer {
    width: 100%!important;
}
  .top-container-inner .third-top,
  .main-container-inner .second-sidebar,
  .bottom-container-inner .forth-bottom,
  .footer-container-inner .third-footer {
    margin-bottom: 8px;
}
  .top-container-inner .first-top,
  .main-container-inner .first-sidebar,
  .bottom-container-inner .first-bottom,
  .footer-container-inner .first-footer {
    margin-top: 8px;
}
  .main-container-inner .first-sidebar {
    margin-bottom: 0;
    margin-top: 20px;
  }
  .main-container-inner .second-sidebar {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .page-node-type-article .node .field--type-image {
    float: none;
    margin: 0 auto;
}
  .page-node-type-article .field--type-text,
  .page-node-type-article .field--type-text-with-summary {
    display: block!important;
    clear: both;
}
  .main-navigation-wrapper .ul-parent {
    display: none;
    transition: height 0.3s linear 0s;
}
  .main-navigation-wrapper .li-item,
  .main-navigation-wrapper .ul-child,
  .main-navigation-wrapper .ul-parent {
    clear: both;
    width: 100%;
}
/* Global setting for any menu created in the system */
  .ul-parent a,
  .ul-parent li,
  .ul-parent ul {
    display: block;
    text-align: left;
  }
  .ul-child {
    position: relative!important;
}
/* Horizontal Main Menu */
  .main-navigation-inner-h .ul-parent .ul-child a {
    padding-left: 35px!important;
}
  .main-navigation-inner-h .ul-parent .ul-child .ul-child a {
    padding-left: 50px!important;
}
  .li-1 .toggle-child .right-arrow {
    display: none;
}
}
