html,
body,
button,
input,
select,
optgroup,
textarea,
.ul-parent-account,
.ul-parent-footer {
  color: #663473;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #9a4eae;
}

.cke_top,
.w3-border,
ul.primary,
.cke_bottom,
.cke_chrome,
ul.secondary,
ul.primary > li {
  border-color: #eadaee !important;
}

a,
.w3-button {
  transition: 0.4s !important;
}

#open-nav-inner:hover,
#open-search:hover,
.w3-button:hover {
  color: #eadaee !important;
  background-color: #663473 !important;
}

.ul-parent-account {
  color: inherit;
}

#header .fa,
#header .svg-inline--fa {
  color: inherit;
}

#footer-menu h1,
#footer-menu h2,
#footer-menu h3,
#footer-menu h4,
#footer-menu h5,
#footer-menu a,
#footer-menu p,
#header h1,
#header h2,
#header h3,
#header h4,
#header h5,
#header a,
#header p {
  color: white !important;
}

#header {
  background-color: #9049a2;
  color: white !important;
}

.main-navigation-wrapper,
.close-nav,
.mobile-nav {
  background-color: #9a4eae;
  color: white;
}

#page-title,
#highlighted,
#top-container,
#footer-container,
.search-slide-wrapper,
#top-container .top-region>div,
#footer-container .footer-region>div,
#bottom-container .bottom-region>div {
  background-color: white;
  color: #663473;
}

#main-container {
  background-color: #f7f1f9;
  color: #663473;
}
/* Four panels - light color */
.search-slide-wrapper,
.pager__item.is-active {
  background-color: #f7f1f9!important;
}
#bottom-container {
  background-color: #f1e5f3;
}

#top-container .top-region>div,
#bottom-container .bottom-region>div,
#footer-container .footer-region>div {
  border: 1px solid #eadaee;
  transition: 0.4s !important;
}

#top-container .top-region>div:hover,
#bottom-container .bottom-region>div:hover,
#footer-container .footer-region>div:hover {
  box-shadow: 0 7px 15px rgba(0, 0, 0, .25);
  border-color: #ddc2e4;
}
#footer-container .footer-region>div {
  color: #663473;
}

/* map and contact  */
#footer-menu {
  background-color: #321939;
  color: white;
}

#copyright {
  background-color: #3d1f44;
  color: white;
}
