html,
body,
button,
input,
select,
optgroup,
textarea,
.ul-parent-account,
.ul-parent-footer {
  color: #000d14;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #004669;
}

.cke_top,
.w3-border,
ul.primary,
.cke_bottom,
.cke_chrome,
ul.secondary,
ul.primary > li {
  border-color: #e1e8ed !important;
}

a,
.w3-button {
  transition: 0.4s !important;
}
#open-nav-inner:hover,
#open-search:hover,
.w3-button:hover {
  color: #bee9ff !important;
  background-color: #004669 !important;
}

.ul-parent-account {
  color: inherit;
}

#header .fa,
#header .svg-inline--fa {
  color: inherit;
}

#page-title,
#highlighted,
#top-container,
#footer-container,
.search-slide-wrapper,
#top-container .top-region > div,
#footer-container .footer-region>div,
#bottom-container .bottom-region>div {
  background-color: white;
  color: #000d14;
}

.main-navigation-wrapper,
.close-nav,
.mobile-nav {
  background-color: #008acf;
  color: white;
}

#header {
  background-color: #007fbe;
  color: white !important;
}
#footer-menu h1,
#footer-menu h2,
#footer-menu h3,
#footer-menu h4,
#footer-menu h5,
#footer-menu a,
#footer-menu p,
#header h1,
#header h2,
#header h3,
#header h4,
#header h5,
#header a,
#header p {
  color: white !important;
}

#main-container {
  background-color: #f7f7f7;
  color: #000d14;
}

#top-container .top-region>div,
#bottom-container .bottom-region>div,
#footer-container .footer-region>div {
  border: 1px solid #e1e8ed;
  transition: 0.4s !important;
}

#top-container .top-region > div:hover,
#bottom-container .bottom-region>div:hover,
#footer-container .footer-region>div:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, .15);
}

#footer-container .footer-region>div {
  color: #000d14;
}

#bottom-container,
.pager__item.is-active {
  background-color: #f9f9f9;
  color: #000d14;
}

#footer-menu {
  background-color: #000d14;
  color: white;
}

#copyright {
  background-color: #000203;
  color: white;
}
